html,body {
	background-image: url("images/bg.gif");
	
background-color="black", arial font 14px, font weight 300, zero margins 

}
.container {

	width: 90%;
	margin: 0 auto;

}

max width image bg.gif*/
background-color="black"
}
#main {
max width 
background-color="black"

}
#navbar {.nav {
	background: gray;
	padding: 20px;
}



}
#subnavbar {nav a{
	text-decoration: none;
	padding: 20px.;
}
#leftmain {
text-align="center"
padding ="140px"
width="40px"
height="40px"
	
}
#rightmain {
background-color="black" 
float="right"
border="1px" 
solid style  
padding="140px"
width="40px"
height="40px"
}
a:link {
gray

}
a:visited {
gray

}
a:hover {
white text-decoration="none"

.h1}
backgroundcolor="red"
}